<h1><%=@post.title%> </h1>
<p><%=@post.body %> <p>
<hr>
<%= link_to "Edit Post", edit_post_path(@post), :class=> "btn btn-warning" %>
<%= link_to "Remove Post", post_path(@post), method: :delete, data: {confirm: "Are your sure?"}, :class=> "btn btn-danger" %>